* {
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: #d3d4d456;
}

.container {
  padding: 50px 400px;
}

.container .space-between li {
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container .space-between li a {
  list-style: none;
  text-decoration: none;
  color: white;
}
.container .space-between li:hover {
  list-style: none;
  background-color: #001a8d;
  color: #ffcd69;
  opacity: 0.8;
}

.container.main {
  background-color: #ddb9a3;
  margin: 5px 350px;
  padding: 5px 15px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.space-between {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.flex-item {
  width: 200px;
  padding: 15px;
  margin: 5px;
  border-radius: 20px;
  color: white;
  text-align: center;
}

.anasayfa {
  background-color: #aa17ff;
}

.gezi {
  background-color: #ff764e;
}

.bilgi {
  background-color: #5ed3eb;
}

.karsilastirma {
  background-color: #ffcd69;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.textAlignCenter {
  margin-top: 4.4rem;
  text-align: center;
}
