* {
  font-size: 20px;
}

body {
  background-color: #d3d4d456;
}

.container {
  padding: 1rem 20rem;
}

.container .space-between li {
  list-style: none;
}

.container .space-between li a {
  list-style: none;
  text-decoration: none;
  color: white;
}
.container .space-between li:hover {
  list-style: none;
  background-color: #001a8d;
  color: #ffcd69;
  opacity: 0.8;
}

.container.main {
  background-color: #ddb9a3;
  margin: 5px 350px;
  padding: 5px 15px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.space-between {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;

  font-family: "Roboto Mono", monospace;
}

.flex-item {
  width: 200px;
  padding: 15px;
  margin: 5px;
  border-radius: 20px;
  color: white;
  text-align: center;
}

.anasayfa {
  background-color: #aa17ff;
}

.gezi {
  background-color: #ff764e;
}

.bilgi {
  background-color: #5ed3eb;
}

.karsilastirma {
  background-color: #ffcd69;
}

section h2 {
  margin-bottom: 0;
  margin-top: 3.5rem;
  text-align: center;
  font-size: 2.4rem;
  font-family: "Edu QLD Beginner", cursive;
}

ol li {
  font-weight: bold;
}

ol li p {
  font-weight: 100;
}

.container h4 {
  font-size: 1.2rem;
  text-align: left;
}

.container h3 {
  text-align: center;
}

.h3font {
  font-size: 2.6rem;
  font-family: "Edu QLD Beginner", cursive;
}

.makale h4 {
  text-align: center;
  font-family: "Edu QLD Beginner", cursive;
  font-size: 2rem;
}

.makaleimg {
  width: 100%;
}
.makaleimg img {
  width: 100%;
  height: 30rem;
  border-radius: 3rem;
  padding: auto;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ortalama {
  display: flex;
}

.column {
  flex: 40%;
  padding-right: 1rem;
}

.column img {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  height: 25rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-top: 2px solid rgb(201, 199, 199);
  border-left: 2px solid rgb(201, 199, 199);
  border-right: 2px solid rgb(201, 199, 199);
  border-bottom: 2px solid rgb(201, 199, 199);
  margin-top: 4rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 5rem;
}

th,
td {
  text-align: center;
  padding: 16px;
}

th:first-child,
td:first-child {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #d4d4d4;
}

.fa-check {
  color: green;
}

.fa-remove {
  color: red;
}
